[Desktop Entry]
Type=Application
Name=FlowBase
Comment=Run my Python program
Exec=lxterminal -e "bash -c '/usr/bin/python3 /home/i2rt/i2rt/i2rt/flow_base/flow_base_controller.py --channel can0; echo; echo \"Process finished. Press Enter to close...\"; read'"
Icon=/home/i2rt/Documents/base_icon.png
Terminal=true
Categories=Utility;
